.container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px 20px;
    justify-content: center;
}

.container > .ui.card{
    margin: 10px;
}

.container > .ui.card .card-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}